/* ------------------------ */
/*      - HOME PAGE -       */
/* ------------------------ */

// -- ERROR / SUCCESS -- \\
.inputError {
    border: .1rem solid $color-red;
}
.inputSuccess {
    border: .1rem solid $color-green;
}
.inputNormal {
    border: .1rem solid $color-gray-light-5;
}

// -- HEADER -- \\
.header-min {
    height: 30vh;
    background-image: linear-gradient(to bottom, rgba($color-black, .40), rgba($color-black, .60)) ,url(../img/bk-1.jpg);
    background-attachment: fixed;
    @include img-setup;
    // Heading 1
    &__heading-1 {
        font-size: 5rem;
        font-weight: 400;
        color: $color-white;
        letter-spacing: .2rem;
    
        @include underline;
        @include center-vh;
        top: 15%;
    }
}

// -- FORM & INPUTS -- \\
.form-1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.form-1 input:nth-child(-n+5), select {
    position: relative;
    padding: 1rem;
    margin: .4rem;
    outline: none;
    transition: all .2s ease-in-out;
    &:hover {
        border: .1rem solid $color-primary;
    }
    &:focus {
        border: .1rem solid $color-primary-light;
    }
}

// -- CREATED USER DATA -- \\
.user-data {
    height: 100vh;
}

// Newly created div (user)
.user-created {
    font-size: 1.9rem;
}
.user-created span { // Span el inside of a newly created div
    font-weight: 600;
}
// Star Icon
.star {
    font-size: 4rem;
    cursor: pointer;
    @include jacont;
    transition: all .2s;
    // On Hover
    &:hover {
        color: $color-primary-light;
    }
    // Full Star
    &__full {
        color: $color-primary-dark;
        &:hover {
            color: $color-primary-dark;
        }
    }
}